.mainWrapper {
  padding-top: 150px;
  max-width: 650px;
  width: 100%;
  margin: 0 auto;
  flex: 1 1 auto;

  display: flex;
  align-items: center;
}

.mainWrapper > * {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.btn {
  margin-top: 15px;
  width: 100%;
}

.helpBar {
  margin-top: 15px;
}
