.AdminPage {
  padding-top: 150px;
  flex: 1;
  display: flex;
}
.navSide {
  min-width: max-content;
  background-color: #fff;
  /* flex: 0 0 250px; */
  min-width: 250px;
  max-width: 250px;
  overflow: hidden;
  position: relative;

  border-right: 1px solid #00000036;
}
.navList {
  position: fixed;
  width: 100%;
  min-width: 250px;
  max-width: 250px;
  /* height: 100%;
  width: 250px; */
}
.navItem {
  width: 100%;
  padding: 3px 30px;
  padding-left: 15px;
}
.navLink {
  padding: 10px 15px;
  display: block;
  transition: all linear 0.17s;
}
.navLink:hover {
  transform: translateX(10px);
}
.navItem:nth-child(2n + 1) {
  background-color: hsla(275, 68%, 83%, 0.151);
}

.viewSide {
  /* background-color: #d8ecc7; */
  flex: 1 1 auto;
  background-color: #fff;
}
